
* {
  font-family: sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight:normal;
  text-align: center;
  padding-bottom: 30px;
}

#todo-content {
  max-width: 920px;
  min-height: 300px;
  position: relative;
  top: 50px;
  margin: auto;
  border: 1px solid lightgray;
  background:#fff;
  border-radius:4px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 
             0 0 40px rgba(0, 0, 0, 0.1) inset;
}
         
#todo-content:before,
#todo-content:after {
        content:"";
        position:absolute;
        z-index:-2;
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
        box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        transform:rotate(-3deg);
}
         
#todo-content:after {
    right:10px;
    left:auto;
    transform:rotate(3deg);
}

ul {
  width: 100%;
  position: absolute;
  top: 40px;
  list-style: none;
}

li {
  width: 89%;
  margin: 10px 10px 5px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.item-controlls {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  margin: auto;
}

input {
  border: none;
}

input:focus {
  box-shadow: none;
}
.item-value {
  border: 1px solid rgb(133, 236, 188);
  padding: 5px;
}

.item-value,
.item-add {
  border-radius: 3px;
  display: inline-block;
  margin-left: 20px;
}

button::-moz-focus-inner {
  outline: none;
}

.item-value:focus {
  box-shadow: 0 0 2px #76eeda;
  outline: none;
}

.item-add {
  position: relative;
  padding: 5px 15px 5px;
  border: 1px solid rgb(133, 236, 188);
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  background-color: #32cd32;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: .6s;
  }

  
  .item-add:active {
    border: none;
    border-bottom: -5px;
    box-shadow: none;
  }
  
  .item-add::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }

  .item-add:hover {
    background: #338833;
  }

  .item-add:hover::before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
  }
  
  .item-add::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);

}

span {
  display: inline-block;
  position: absolute;
  margin-top: 4px;
  right: 8%;
  width: 20px;
  height: 20px;
  border: 1px solid #e2d8d8;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  font-family: sans-serif;
  font-size: 0.85rem;
  color: red;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

span:active {
  box-shadow: none;
  transition: .5s;
}
