
*
{
    font-family: sans-serif;
}

h2
{
    font-weight: normal;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

#todo-content
{
    position: relative;
    top: 50px;
    max-width: 920px;
    min-height: 300px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    0 0 30px rgba(0, 0, 0, .1);
}

#todo-content:before,
#todo-content:after
{
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    max-width: 300px;
    height: 20%;
    content: '';
    transform: rotate(-3deg);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
}

#todo-content:after
{
    right: 10px;
    left: auto;
    transform: rotate(3deg);
}

ul
{
    position: absolute;
    top: 40px;
    width: 100%;
    list-style: none;
}

li
{
    line-height: 30px;
    width: 89%;
    height: 30px;
    margin: 10px 10px 5px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.item-controlls
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: inline-block;
    width: 350px;
    margin: auto;
    transform: translateX(-50%);
}

input
{
    border: none;
}

input:focus
{
    box-shadow: none;
}

.item-value
{
    padding: 5px;
    border: 1px solid rgb(133, 236, 188);
}

.item-value:focus
{
    outline: none;
    box-shadow: 0 0 2px #76eeda;
}

.item-value,
.item-add
{
    display: inline-block;
    margin-left: 20px;
    border-radius: 3px;
}

button::-moz-focus-inner
{
    outline: none;
}

.item-add
{
    position: relative;
    overflow: hidden;
    padding: 5px 15px 5px;
    transition: .6s;
    color: #fff;
    border: 1px solid rgb(133, 236, 188);
    background-color: #32cd32;
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.item-add:active
{
    border: none;
    border-bottom: -5px;
    box-shadow: none;
}

.item-add::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 60px;
    height: 100%;
    content: '';
    transform: translateX(-130px) skewX(-15deg);
    opacity: .5;
    background: rgba(255,255, 255, .5);
    filter: blur(30px);
}

.item-add:hover
{
    background: #383;
}

.item-add:hover::before
{
    transition: 1s;
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
}

.item-add::after
{
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
    width: 30px;
    height: 100%;
    content: '';
    transform: translateX(-100px) scaleX(-15deg);
    opacity: 0;
    background: rgba(255,255, 255, .2);
    filter: blur(30px);
}

span
{
    font-family: sans-serif;
    font-size: .85rem;
    line-height: 20px;
    position: absolute;
    right: 8%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    color: red;
    border: 1px solid #e2d8d8;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
}

span:active
{
    transition: .5s;
    box-shadow: none;
}
